<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>06-手势解锁.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2AEA7111B9E89A600FB2636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AEA72A1B9E89A700FB2636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AEA7351B9E89A700FB2636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
